<h1><%=t 'app.common.test_runs' %></h1>

<% for year in @years %>
<h2>
  <%= year %>
</h2>
<ul>
  <% for event in @events[year] %>
  <li>
    <%= link_to event.title, event %>
  </li>
  <% end %>
</ul>
<% end %>
